@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label {
  top: -15px;
  left: 20px;
  font-size: 12px;
  opacity: 1;
  padding: 5px;
}

.inputText {
  padding-left: 20px;
  padding-bottom: 5px;
  outline: none;
}

.floating-label {
  pointer-events: none;
  transition: 0.4s ease all;
  color: rgb(75, 74, 74);
}

input,
textarea {
  @apply bg-gray-100 text-base border-2 w-80 rounded-md border-gray-400 hover:border-gray-600 focus:border-gray-600;
}

input {
  @apply h-14;
}
span {
  @apply absolute bg-gray-100 text-base left-5 top-3 opacity-50;
}
